<div class="col-xs-12 col-sm-6">
    <div class="page-panel">
        <h4>Stock prices</h4>
        <table class="table table-condensed" id="stocksTable">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Unit</th>
                    <th>Value [PLN]</th>
                    <th>Available Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:items">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Unit"></td>
                    <td data-bind="text: Price"></td>
                    <td data-bind="text: AvailableAmount"></td>
                    <td class="text-center">
                        <a data-bind="attr: { href: '/stock/buy/' + Code().toLocaleLowerCase() }" class="btn btn-xs btn-default">Buy</a>
                    </td>
                </tr>
                </tbody>
        </table>
        <span class="small">Updated at: </span><span id="stocksTableUpdateTime" class="small">@DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss")</span>
    </div>
</div>