@{
    ViewBag.Title = "Index Page";
}

<div class="text-center ">
    <h2>Welcome to<br /><br />Simple Stock Market</h2>
    <br />
    <span class="glyphicon glyphicon-piggy-bank" style="font-size: 50px;"></span>
</div>